<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">

            <a class="blog-nav-item active" href="{{ path('lebed_video_homepage') }}">
                {% trans %}Home{% endtrans %}</a>
        </nav>
    </div>
</div>