<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">

            <a class="blog-nav-item active" href="{{ path('lebed_video_homepage') }}">
                {% trans %}Home{% endtrans %}</a>
            <a class="blog-nav-item active" href="{{ path('lebed_video_addVideo') }}">
                {% trans %}Add Video{% endtrans %}</a>
            <a class="blog-nav-item active" href="{{ path('nelmio_api_doc_index') }}">
                {% trans %}ApiDoc{% endtrans %}</a>

            <div style="float: right">
                {% if app.session.get('child') %}
                    <p><a id="not_child_mode" class="btn btn-info" href="#" role="button">Not Child</a></p>
                {% else %}
                    <p><a id="child_mode" class="btn btn-info" href="#" role="button">Child</a></p>
                {% endif %}
            </div>

            <div id="time_child"></div>
        </nav>
    </div>
</div>